*{
  font-family: 'DM Sans', sans-serif  !important;
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorInherit.makeStyles-appBar-1.mui-fixed.MuiPaper-elevation4 {
  width: 100%;
  background-color: #1e1777c9;
  color: #fff;
}

